.landingPage{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background: url('../../images/landingBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.welcome {
    margin: 75px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 10px;
    color: #D5D3FB;
}

.button{
    margin: 100px 75px 0 0;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    color: #0C0413;
    font-size: 40px;
    letter-spacing: 5px;
    background-color: #D5D3FB;
    animation: shadow 1.5s ease-in-out infinite;
    transition: 1s;
}

@keyframes shadow {
    0%{
        box-shadow: 0 0 10px #FE81F9;
    }
    50%{
        box-shadow: 0 0 40px #FE81F9;
    }
    100%{
        box-shadow: 0 0 10px #FE81F9;
    }
}

.button:hover{
    transition: 1s;
    transform: scale(1.1);
    cursor: pointer;
}

.p {
    margin: 0 100px 0 0;
    color: #B19EED;
    animation: welcome 1.5s steps(19);
    font-size: 25px;
}

@keyframes welcome {
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}