.landingPage{
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    background: url('../../images/landingBackground.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.welcome {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0;
    color: #3e3627;
}

.button{
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 40px;
    color: #3e3627;
    background-color: #EADECB;
    animation: shadow 1.5s ease-in-out infinite;
    transition: 1s;
}

@keyframes shadow {
    0%{
        box-shadow: 0 0 10px #2D2736;
    }
    50%{
        box-shadow: 0 0 40px #2D2736;
    }
    100%{
        box-shadow: 0 0 10px #2D2736;
    }
}

.button:hover{
    transition: 1s;
    transform: scale(1.1);
    animation: none;
    cursor: pointer;
}

.p {
    color: #3e3627;
    animation: welcome 1.5s steps(19);
    font-size: 25px
}

@keyframes welcome {
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}